.button{
    float:right;
}
.btn-group button{
    background-color: black;
    border:1px solid shite;
    border-color: white;
    color:white;
    padding: 10px 24px;
    cursor:pointer;
    float:left;
    width:100%;
    display:inline;

}
.box{
    background-color: black;
    color:white;
    width: 75%;
}